/* generics */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body *{
    border: 1px solid #B4D0E7;
}

/* utils */

.container-l{
    width: 1080px;
    margin: 0 auto;
}

.container-s{
    width: 800px;
    margin: 0 auto;
}

.bg-light-blue{
    background-color: #B4D0E7;
}

.button{
    padding: 5px 10px;
    background-color: #0061FF;
    color: #fff;
}

.border-gray{
    border: 1px solid #D0D0D3;
}

.d-flex{
    display: flex;
}

.col-30{
    width: 30%;
}

.col-70{
    width: 70%;
}

.font-30{
    font-size: 30px;
}

/*header*/

.navbar{
    position: sticky;
    top: 0%;
    left: 0%;
    right: 0%;
    justify-content: space-between;
    padding: 30px 10px;
    background-color: #fff;
}

.navbar-left, .navbar-right{
    align-items: center;
    justify-content: space-evenly;
    
}

/* Jumbotron */

h1{
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 50px;
}

.col-70{
    position: relative;
}

.jumbo-row img{
    position: absolute;
    top: 0;
    width: 100%;
}


.jumbotron{
    padding-top: 50px;
    }

.jumbo-bg{
    margin-bottom: 200px;
}

/* Section business plan */

.business-plan h2{
    margin: 30px 0;
    padding-bottom: 20px;
}

.business-plan .checkboxes{
    margin: 30px 0;
}

.business-plan .row{
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.business-plan .col{
    width: calc(100% - 2px);

    /* to be removed */
    height: 400px;
}

.business-plan .col-100{

    /* to be removed*/
    height: 200px;
}