/* generics */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}
img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

section {
    padding: 50px 0;
}

/* utils */

.container-l{
    width: 1080px;
    margin: 0 auto;
}

.container-s{
    width: 800px;
    margin: 0 auto;
}

.bg-light-blue{
    background-color: #B4D0E7;
}

.button{
    padding: 10px 15px;
    background-color: #0061FF;
    color: #fff;
    display: inline-block;
}

.button-s{
    padding: 5px 10px;
}

.border-gray{
    border: 1px solid #D0D0D3;
}

.d-flex{
    display: flex;
}

.w-30{
    width: 30%;
}

.w-70{
    width: 70%;
}

.font-30{
    font-size: 30px;
}

.mb-30{
    margin-bottom: 30px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*header*/

header.navbar{
    position: sticky;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
}

.navbar ul{
    align-items: center;
}

.navbar li{
    padding: 0 20px;
}

/* Jumbotron */

h1{
    font-weight: 800;
    font-size: 70px;
}

.jumbotron.container-l{
    height: 620px;
}

/* Section business plan */

.business-plan h2{
    margin: 30px 0;
    padding-bottom: 20px;
}

.business-plan .checkboxes{
    margin: 30px 0;
}

.business-plan .row{
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.business-plan .col{
    width: calc(100% / 3 - 2px);

    /* to be removed */
    height: 400px;
}

.business-plan .col-100{

    /* to be removed*/
    height: 200px;
}

/* find partners */

.find-partner img{
    max-width: 100%;
}

.find-partner .col-30{
    padding: 10px;
}
.find-partner .col-70 {
    padding: 30px;
}

.find-partner .row{
    align-items: center;
    margin: 50px 0;
}

/* operations */

.operations .row{
    flex-wrap: wrap;
}
.operations .col{
    width: calc(100% / 3 - 40px);
    padding: 20px;
}

/* our clients */

/* partners */

.box .col{
    width: calc(100% / 3 - 2px);
    flex-wrap: wrap;
}

.img-box{
    flex-basis: 50%;
}

/* faq */


#faq-title, .faq-content {
    border-bottom: 1px solid #D0D0D3;
    padding: 30px 0;
}

.faq-content{
    justify-content: space-between;
}

.faq-content i{
    padding: 0 20px;
}

/* footer */

footer{
    background-color: #000;
    color: #fff;
}
.footer-top{
    border-bottom: 1px solid #D0D0D3;
}
.footer-top .col{
    width: 20%;
}

footer li > a{
    color: white;
}